.el {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
 }

 .container{
    border: 1px solid black ;
    display: grid;
    grid-template-columns: auto auto;
 }


 .negro {
    background-color: rgb(33, 33, 33);
}

.verde-azulado {
    background-color: rgb(39, 140, 122);
}

.verde-clarito{
    background-color: rgb(200, 230, 201);
}

.azul{
    background-color: rgb(10, 137, 166);
}

.verde{
    background-color: rgb(147, 166, 3);
}